{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center">Add teacher</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>

{% endblock %}