{% extends 'base.html' %}

{% block content %}

    <h1>Add student</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}  <!-- подключение secret_key -->
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.birth_date.label(class="form-label") }}
            {{ form.birth_date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.mark.label(class="form-label") }}
            {{ form.mark(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.status.label(class="form-label") }}
            {{ form.status(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>

{% endblock %}
