{% extends 'base.html' %}

{% block content %}

    <h1>Add student</h1>
    {% include 'snippets/student_form.html' %}

    <hr>  <!-- hr - horizontal rule - горизонтальный разделитель -->
    {% if items|length > 1 %}  <!-- Если длина списка студентов больше 1 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birth date</th>
                    <th>Mark</th>
                    <th>Subject</th>
                    <th>Pay status</th>
                </tr>
            </thead>
            <tbody>
                {% for student in items %}  <!-- для каждого студента -->
                    <tr>  <!-- создается строчка таблицы -->
                        <td><a href="/update-student/{{ student.id }}">{{ student.name }}</a></td>
                        <td>{{ student.birth_date }}</td>
                        <td>{{ student.mark }}</td>
                        <td>{{ student.subjects.name }}</td>
                        <td>{{ student.status }}</td>
                        <td><a href="/delete/{{ student.id }}" class="btn btn-outline-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
